@layer components {
  .material-symbols-icons {
    font-family: "Material Symbols Outlined", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: unset;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }

  .scrollbar {
    &::-webkit-scrollbar {
      height: 8px;
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-highlight);
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-gray);
      border-radius: 8px;
    }
  }
}
